.infoChunk {
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infoArea {
    background-color: var(--navbar-background-color);
    width : 800px;
    border-radius: 15px;
    color : var(--light-text-color);
    padding: 15px;
    transition: 0.25s;
}

@media only screen and (max-width : 850px) {
    .infoChunk {
        font-size: 90%;
    }
    .infoArea {
        width : 700px;
    }
}
@media only screen and (max-width : 750px) {
    .infoArea {
        width : 500px;
    }
}
@media only screen and (max-width : 650px) {
    .infoArea {
        width : 400px;
    }
}
@media only screen and (max-width : 500px) {
    .infoArea {
        width : 300px;
    }
}