@import './variables.scss';

body {
  margin : 0px; 
  font-family: 'Montserrat', sans-serif;
  background-color: var(--background-color);
  color : var(--dark-text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color : unset;
}